@use '../../assets/variables.scss' as *;

.card {
  height: 245.97px;
  width: 172.5px;

  &__name-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    color: $light;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }

  &__container-img {
    display: flex;
    justify-content: center;
    margin: 0;
    height: inherit;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__button {
    width: 100%;
    height: 189.97px;
    padding: 0;

    background-color: transparent;
    border: none;
  }

  &__name-container {
    position: relative;
    background-color: $primary;
    height: 56px;

    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    overflow: hidden;

    &:before {
      position: absolute;
      top: -5.37px;
      left: 0;
      height: 5.37px;
      width: 100%;
      background-color: $secondary;
      content: '';
    }

    &:after {
      position: absolute;
      bottom: -6px;
      right: -6px;
      height: 12.85px;
      width: 12.85px;
      background-color: $light;
      content: '';
    }
  }

  &__name {
    color: $light;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    text-transform: uppercase;
  }
}
